<div id="dashboard">
    <!-- Main landing Page content starts here!-->
    <div class="content">
        <div class="container slide-in-elliptic-top-fwd">
            <div class="row">
                <div class="five columns centertext">
                    <h1 class="heading1">Dashboard</h1>
                    <button class="sp-btn" onclick="window.open('https://discordapp.com/api/oauth2/authorize?client_id=478616471640080395&permissions=8&scope=bot')">
                        Invite Me!</button>
                </div>
                <div class="seven columns" style="text-align: left;">
                    <p style="padding-top: 32px;">
                        Welcome {{username}} the dashboard! Here you can easily conifgure Zora bot for your server.
                        As well
                        as view helpful statistics!<br>
                        <hr>
                        <h3>Please Select a Server:</h3>
                        <select>
                            {{#each servers}}
                            <option>{{this}}</option>
                            {{/each}}
                        </select>
                </div>
            </div>
        </div>
    </div>
</div>