<div>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Main landing Page content starts here!-->
    <div class="container" style="height:50%;">
        <div class="row">
            <div class="column">
                <img src="/ZoraWeb.svg" alt="ZoraBOT" style="width: 100%;" />
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container slide-in-elliptic-top-fwd">
            <div class="row">
                <div class="five columns centertext">
                    <h1>This is Zora BOT</h1>
                    <button class="sp-btn" onclick="window.open('https://discordapp.com/api/oauth2/authorize?client_id=478616471640080395&permissions=8&scope=bot')">
                        Invite Me!</button>
                </div>
                <div class="seven columns">
                    <p style="padding-top: 32px;">
                        Zora is the bot for everyone! With open source code, we have created a bot anyone can adapt
                        to their own needs. Whether you just need a simple music bot, or you want to browse reddit
                        and stackoverflow. Zora is the bot for you!
                    </p>
                    <hr>
                    <p>
                        Zora was created by <a href="http://www.averywagar.com/">Avery Wagar</a> and <a href="https://nlaha.com">Nathan
                            Laha</a><br><br>
                        <button class="sp-btn-s" onclick="window.open('https://github.com/ajmwagar/discordbot')">Source
                            Code</button>
                        <!-- Begin Commands -->
                        <h3>Commands:</h3>
                        <div>
                            accordion style command thing
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <button class="closebtn" v-on:click="isClosed = !isClosed"><i class="material-icons">keyboard_arrow_down</i></button>
        <footer class="mainfooter" v-bind:class="{ closed: isClosed }">
            <a v-bind:href="''+btnurl+''"><button class="sp-btn-s" v-on:click="dshow = !dshow" v-bind:class="{ closed: isClosed }">{{btntext}}</button></a>
        </footer>
    </div>
</div>